/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@300&display=swap');
/* Styles for the body */

body {
	font-family: 'Fascinate', cursive; font-family: 'Poppins', sans-serif;
	color: #202030;
	background-color: #e3a72f;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
	font-family: 'Fascinate', cursive;
    background-color: #058789;
	color: #f0ecc9
}

.resume-main {
	background-color: #f0ecc9;
	color: #503d2e
}

.resume-aside {
	font-family: 'Fascinate', cursive;
	background-color: #d54b1a;
	color: #f0ecc9
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
